html, body{
  width: 100%;
  margin: 0;
  padding: 0;
}


:root {
  --color-page-header-background: #dedede80;
  --color-black: #1f1e1e;
  --color-white: #ffffff;
  --color-red: #bc3324;
  --color-red-hover: #a51505;
}

body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 147px;
  min-height: 100vh;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(--color-black);
  background: url('../assets/png/noise.png'), url('../assets/png/gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 147px;
  z-index: 100;
}
.page-header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-page-header-background);
  backdrop-filter: blur(10px);
  z-index: -1;
}
.page-header__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1414px;
  margin: 0 auto;
  padding: 0 40px;
}
.page-header__logo {
  height: 100%;
}
.page-header__logo-svg {
  height: 100%;
}
.page-header__nav {
  display: flex;
  padding: 61px 0;
  justify-content: center;
  gap: 50px;
}
.page-header__nav-link {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}
.page-header__nav-link:hover {
  color: var(--color-red);
}
.page-header__user-button-container {
  width: 202px;
  height: 54px;
  text-align: end;
}
.button {
  display: inline-flex;
  padding: 15px 40px;
  border: 1px solid var(--color-black);
  font-family: inherit;
  font-weight: 600;
  color: var(--color-black);
  text-align: center;
  background: none;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}
.button:hover {
  color: var(--color-white);
  background: var(--color-black);
  cursor: pointer;
}
.page-header__user-button {
  text-decoration: none;
}

.main{
  flex: 1 0 auto;
}

.main-header {
  margin: 100px 0;
}
.main-header__title {
  font-family: 'Lora', serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.main-header__text {
  font-family: 'Lora', serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}
.main-header__picture {
  max-height: 325px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 70px 0;
}
.main-header__image {
  max-width: 100%;
  height: 100%;
  text-align: center;
}
.main-header__picture::before,
.main-header__picture::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: calc(50% - 1920px / 2 + 100px);
  height: 100%;
  background: var(--color-black);
}
.main-header__picture::after {
  right: 0;
  left: auto;
}
.main-header__buttons {
  width: 624px;
  margin: 0 auto;
}
.main-header__buttons-title {
  margin: 100px 0 46px;
  font-family: 'Lora', serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}
.main-header__buttons-container {
  display: flex;
  justify-content: space-between;
}
.main-header__button--red {
  color: var(--color-white);
  background: var(--color-red);
  border-color: var(--color-red);
}
.main-header__button--red:hover {
  background-color: var(--color-red-hover);
  border-color: var(--color-red-hover);
}
.main-header__button--white {
  padding: 15px 46px;
}

.breads__link{
  color: var(--color-black);
  text-decoration: none;
  transition: color 0.2;
}
.breads__link:hover{
  color: var(--color-red);
}
.events__container{
  max-width: 1414px;
  margin: 0 auto;
  padding: 40px 40px 0;
  box-sizing: border-box;
}
.title{
  width: 624px;
  height: 62px;
  margin: 0 auto 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-family: "Lora";
  font-size: 36px;
  font-weight: 500;
  background: var(--color-black);
}
.events__title{
  margin-top: 138px;
  text-transform: uppercase;
}
.listing{
  display: flex;
  flex-direction: wrap;
  gap: 60px 120px;
}
.listing__card-event{
  max-width: 405px;
  width: calc(100% / 3 - 40px);
}
.card-event__link{
  display: flex;
  flex-direction: column;
  height: 100%;
  text-decoration: none;
  color: var(--color-black);
}
.card-event__link:hover>.card-event__title{
  color: var(--color-red);
  text-decoration-color: var(--color-red);
}
.card-event__picture{
  position: relative;
  display: block;
  margin: 0 0 25px;
}
.card-event__picture::before{
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}
.card-event__picture-img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card-event__title{
  margin: 0;
  transition: color 0.2s;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: transparent;
  transition: color 0.2s, text-decoration-color 0.2s;
}
.card-event__description{
  margin: 15px 0;
}
.card-event__time{
  margin: auto 0 0;
  font-size: 14px;
}

.page-footer{
  margin-top: 150px;
  flex: 0 0 auto;
}