:root {
  --color-page-header-background: #dedede80;
  --color-black: #1f1e1e;
  --color-white: #ffffff;
  --color-red: #bc3324;
  --color-red-hover: #a51505;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: var(--color-black);
  background: url('../assets/png/noise.png'), url('../assets/png/gradient.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 147px;
  z-index: 100;
}
.page-header::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--color-page-header-background);
  backdrop-filter: blur(10px);
  z-index: -1;
}
.page-header__container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 1414px;
  margin: 0 auto;
  padding: 0 40px;
}
.page-header__logo {
  height: 100%;
}
.page-header__logo-svg {
  height: 100%;
}
.page-header__nav {
  display: flex;
  padding: 61px 0;
  justify-content: center;
  gap: 50px;
}
.page-header__nav-link {
  color: var(--color-black);
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
.page-header__nav-link:hover {
  color: var(--color-red);
}
.page-header__user-button-container {
  width: 202px;
  text-align: end;
}
.button {
  padding: 15px 40px;
  border: 1px solid var(--color-black);
  font-family: inherit;
  font-weight: 600;
  color: var(--color-black);
  text-align: center;
  background: none;
}
.button:hover {
  color: var(--color-white);
  background: var(--color-black);
  cursor: pointer;
}
.page-header__user-button {
  text-decoration: none;
}

.main-header {
  margin: 247px 0 100px;
}
.main-header__title {
  font-family: 'Lora', serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.main-header__text {
  font-family: 'Lora', serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}
.main-header__picture {
  max-height: 325px;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 70px 0;
}
.main-header__image {
  max-width: 100%;
  height: 100%;
  text-align: center;
}
.main-header__picture::before,
.main-header__picture::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: calc(50% - 1920px / 2 + 100px);
  height: 100%;
  background: var(--color-black);
}
.main-header__picture::after {
  right: 0;
  left: auto;
}
.main-header__buttons {
  width: 624px;
  margin: 0 auto;
}
.main-header__buttons-title {
  margin: 100px 0 46px;
  font-family: 'Lora', serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}
.main-header__buttons-container {
  display: flex;
  justify-content: space-between;
}
.main-header__button--red {
  color: var(--color-white);
  background: var(--color-red);
  border-color: var(--color-red);
}
.main-header__button--red:hover {
  background-color: var(--color-red-hover);
  border-color: var(--color-red-hover);
}
.main-header__button--white {
  padding: 15px 46px;
}
