@font-face {
  font-family: "mak";
  src: local("MAK-light"), url("../../assets/fonts/MAK-light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "mak";
  src: local("MAK-bold"), url("../../assets/fonts/MAK-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 147px;
  min-height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #1f1e1e;
  background-color: #DEDEDE;
  background: url('../assets/images/noise.png'), url('../assets/images/gradient.png');
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.page-footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
a {
  color: #1f1e1e;
  outline: none;
}
img {
  max-width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
button {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  color: #1f1e1e;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
}
.button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 15px 40px;
  border: 1px solid #1f1e1e;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  color: #1f1e1e;
  text-align: center;
  background: none;
  -webkit-transition: background-color 0.2s, color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s;
}
.button:hover {
  color: #ffffff;
  background: #1f1e1e;
}
.breads__link {
  color: #1f1e1e;
  text-decoration: none;
  -webkit-transition: color 0.2;
  transition: color 0.2;
}
.breads__link:hover {
  color: #BC3324;
}
.title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 624px;
  height: 62px;
  margin: 0 auto 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  font-family: "Lora", serif;
  font-size: 36px;
  font-weight: 500;
  background: #1f1e1e;
}
.listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  gap: 120px 60px;
}
.checkbox {
  height: 24px;
}
.checkbox--red .checkbox__input:checked + .checkbox__label::before {
  background-color: #A51505;
  border-color: #A51505;
  background-image: url("../assets/images/red_check.svg");
}
.checkbox--red .checkbox__label {
  color: #BC3324;
}
.checkbox--red .checkbox__label::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #BC3324;
}
.checkbox__input {
  display: none;
}
.checkbox__input:disabled + .checkbox__label {
  opacity: 0.5;
  cursor: auto;
}
.checkbox__input:checked + .checkbox__label::before {
  background-color: #1f1e1e;
  background-image: url("../assets/images/black_check.svg");
}
.checkbox__label {
  margin-right: auto;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  cursor: pointer;
}
.checkbox__label::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #1f1e1e;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.page-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 147px;
  z-index: 100;
}
.page-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(222, 222, 222, 0.8);
  z-index: -1;
}
@supports ((-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px))) {
  .page-header::before {
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    background: rgba(222, 222, 222, 0.8);
  }
}
.page-header__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.page-header__logo {
  height: 100%;
}
.page-header__logo-icon {
  width: 202px;
  height: 100%;
}
.page-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 61px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 50px;
}
.page-header__nav-link {
  color: #1f1e1e;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.page-header__nav-link:hover {
  color: #BC3324;
}
.page-header__user-button-container {
  width: 202px;
  height: 54px;
  text-align: end;
}
.page-header__user-button {
  text-decoration: none;
}
.page-footer {
  margin-top: 150px;
}
.main-header {
  margin: 100px 0;
}
.main-header__title {
  font-family: "Lora", serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
}
.main-header__text {
  font-family: "Lora", serif;
  font-size: 45px;
  text-align: center;
  text-transform: uppercase;
}
.main-header__picture {
  max-height: 325px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 70px 0;
}
.main-header__picture::before,
.main-header__picture::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: calc(50% - 1920px / 2 + 100px);
  height: 100%;
  background: #1f1e1e;
}
.main-header__picture::after {
  right: 0;
  left: auto;
}
.main-header__image {
  max-width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  text-align: center;
}
.main-header__buttons {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 624px;
  margin: 0 auto;
}
.main-header__buttons-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main-header__buttons-title {
  margin: 100px 0 46px 18px;
  font-family: "Lora", serif;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
}
.main-header__button--red {
  color: #ffffff;
  background: #BC3324;
  border-color: #BC3324;
}
.main-header__button--red:hover {
  background-color: #A51505;
  border-color: #A51505;
}
.main-header__button--white {
  padding: 15px 43px;
}
.events__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}
.events__title {
  margin-top: 138px;
  text-transform: uppercase;
}
.events__event-card {
  width: calc((100% / 3) - 40px);
}
.event-card__link {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #1f1e1e;
}
.event-card__link:hover > .event-card__title {
  color: #BC3324;
  text-decoration-color: #BC3324;
}
.event-card__picture {
  position: relative;
  display: block;
  margin: 0 0 25px;
}
.event-card__picture::before {
  content: "";
  display: block;
  width: 100%;
  padding-top: 100%;
}
.event-card__picture-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.event-card__title {
  margin: 0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: transparent;
  -webkit-transition: color 0.2s, text-decoration-color 0.2s;
  transition: color 0.2s, text-decoration-color 0.2s;
}
.event-card__description {
  margin: 15px 0;
}
.event-card__time {
  margin: auto 0 0;
  font-size: 14px;
}
.event__container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1414px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}
.event__reservation {
  margin: 80px 0 0;
}
.reservation {
  display: grid;
  grid-template-columns: 405px 1fr;
  grid-template-rows: 473px 1fr;
  grid-gap: 67px 149px;
}
.reservation__form {
  grid-row: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}
.reservation__legend {
  margin: 0 0 20px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
}
.reservation__legend--margin-top {
  margin-top: 40px;
}
.reservation__scene-container {
  width: 100%;
}
.reservation__scene-title {
  width: 162px;
  height: 34px;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.reservation__scene {
  width: 100%;
  height: calc(100% - 74px);
}
.reservation__info {
  margin: auto 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  text-align: end;
}
.reservation__tables-info {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 15px;
}
.reservation__table-info {
  position: relative;
  width: 130px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0 0 0 auto;
  font-size: 14px;
}
.reservation__table-info--black::before {
  content: "";
  position: absolute;
  left: -33px;
  top: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: #BC3324;
}
.reservation__table-info--red::before {
  content: "";
  position: absolute;
  left: -33px;
  top: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: #1f1e1e;
}
.reservation__table-info--free::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  position: absolute;
  left: -45px;
  top: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #1f1e1e;
  border-radius: 50%;
}
.reservation__table-info--free::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  content: "";
  position: absolute;
  left: -33px;
  top: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 1px solid #BC3324;
  border-radius: 50%;
}
.reservation__table-info--busy::before {
  content: "";
  position: absolute;
  left: -33px;
  top: 0;
  display: block;
  width: 24px;
  height: 24px;
  background: #BFBFBF;
  border-radius: 50%;
}
.reservation__notes {
  list-style: none;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 13px;
}
.reservation__note {
  position: relative;
  width: 130px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin: 0 0 0 auto;
  font-size: 14px;
}
.reservation-form__legend {
  margin: 0 0 20px;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
}
.reservation-form__legend--checkboxes {
  margin: 0 0 30px;
}
.reservation-form__checkboxes-list {
  list-style: none;
  padding: 0;
  margin: 0 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 10px;
}
.reservation-form__bilets {
  margin: auto 0 0;
}
.reservation-form__bilets-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  gap: 15px;
}
.reservation-form__bilets-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reservation-form__price {
  padding: 0 15px 0 0;
  font-size: 18px;
  font-weight: 600;
}
.reservation-form__summ {
  margin: 25px 0 53px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: calc(100px / 3);
  font-size: 20px;
  font-weight: 600;
}
.reservation-form__summ-item {
  width: 100%;
  text-align: right;
}
.reservation-form__summ-item--right {
  text-align: left;
}
.reservation-form__button {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background-color: #BC3324;
  border-color: #BC3324;
}
.reservation-form__button:hover {
  background-color: #A51505;
  border-color: #A51505;
}
